<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入外部资源文件 -->
    <!-- <properties resource="jdbc.properties"></properties> -->
    <settings>
        <!--开启驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启二级缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <!-- 指定mybatis-universal-crud-simple的扫描路径，要用于扫描实体信息和搜索类信息，多个包使用","隔开 -->
        <!--		<setting name="universalCrudScan" value="org.linuxprobe.demo.model,org.linuxprobe.demo.query"/>-->
    </settings>
    <!-- typeAliases:起别名的标签 typeAlias:为某个java类型起别名 type:指定要起别名的全类名，默认别名就是类小写，(但是其实他是不区分大小写的，也就是说你全部大写也没问题)
        alias:新的别名 package:为某个包下的类批量起别名(这个会存在的一个问题就是可能会重复，重复的情况下还可以用@Alias来解决) name:指定包名(这个就相当于是为这个包下的所有的类都创建了一个默认的别名)
        当然还有一个起别名的方式就是在实体上使用@Alias来起别名 注：起别名看自己的情况，推荐还是在mapper文件中使用全类名 -->
    <typeAliases>
        <!-- <typeAlias type="com.wj.mybatis.bean.Employee" alias="emp"></typeAlias>
            <package name="com.wj.mybatis.bean"></package> -->
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="java.math.RoundingMode"/>
    </typeHandlers>
    <!-- 配置环境：可以配置多个环境，default：配置某一个环境的唯一标识，表示默认使用哪个环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 配置连接信息 -->
                <property name="driver" value="dm.jdbc.driver.DmDriver"/>
                <property name="url" value="jdbc:dm://192.168.8.3:5236/"/>
                <property name="username" value="ez_mybatis"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 配置映射文件：用来配置sql语句和结果集类型等 -->
    <mappers>
        <mapper class="org.rdlinux.ezmybatis.java.mapper.UserMapper"/>
    </mappers>
</configuration>