<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linuxprobe.crud.mapper.UniversalMapper">
	<insert id="insert">
		${sqlr.toInsertSql(entity)}
	</insert>

	<insert id="batchInsert">
		${sqlr.toBatchInsertSql(entitys)}
	</insert>

	<delete id="delete">
		${sqlr.toDeleteSql(entity)}
	</delete>

	<delete id="batchDelete">
		${sqlr.toBatchDeleteSql(entitys)}
	</delete>

	<delete id="deleteByPrimaryKey">
		${value}
	</delete>

	<delete id="batchDeleteByPrimaryKey">
		${value}
	</delete>

	<select id="universalSelect" parameterType="org.linuxprobe.crud.query.BaseQuery"
		resultType="java.util.HashMap">
		${sqlr.toSelectSql()}
	</select>

	<select id="selectCount" parameterType="org.linuxprobe.crud.query.BaseQuery"
		resultType="java.lang.Long">
		<!-- 可以指定字段 -->
		<!-- ${sqlr.toSelectCountSql('name')} -->
		${sqlr.toSelectCountSql()}
	</select>

	<update id="localUpdate">
		${sqlr.toLocalUpdateSql(entity)}
	</update>

	<update id="globalUpdate">
		${sqlr.toGlobalUpdateSql(entity)}
	</update>
</mapper>