target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

### ECLIPSE ###
.mtj.tmp/
.apt_generated
.apt_generated_tests
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### MVN ###
.mvn/
mvnw
mvnw.cmd

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*